[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #228be6;
  --md-primary-fg-color--light: #4dabf7;
  --md-primary-fg-color--dark:  #1c7ed6;
  --md-accent-fg-color:         #15aabf;

  --md-default-bg-color:        #f8f9fa;
  background-color:             #f8f9fa;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #228be6;
  --md-primary-fg-color--light: #4dabf7;
  --md-primary-fg-color--dark:  #1c7ed6;
  --md-accent-fg-color:         #15aabf;

  --md-default-bg-color:        #212529;
  background-color:             #212529;
}
